@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: radial-gradient(50% 50% at 50% 50%, #5f72be 0%, #9921e8 100%);
}
.counter-container{
  width: 500px;
  height: 200px;
 
  margin-top: 100px;
}
